Screen {
    layout: vertical;
}

#stats {
    height: auto;
}

#main {
    height: 1fr;
    layout: horizontal;
}

#results {
    width: 55%;
    height: 1fr;
}

#preview {
    width: 1fr;
    height: 1fr;
    border-left: solid $accent;
}

#logsplit.hidden {
    display: none;
}

#log {
    height: 12;
    min-height: 5;
    max-height: 30;
    background: $surface;
}

#log.hidden {
    display: none;
}
